<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>homepage</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	</head>
	<body>
		<div class="navbar">
			<img class="logo" src="{% static 'images/LOGO.svg' %}" alt="logo">
			<a href= "{% url 'firstFeature:login_page' %}" class="login">Login</a>
			<a href= "{% url 'firstFeature:register_page' %}" class="register">Register</a>
		</div>
		<img class="gambar" style="width: 800px; margin-top: 120px; margin-left:-50px;  " src="{% static 'images/3740.jpg' %}">
		<h2 style="margin-left: 700px; font-size: 30px; font-family: open sans; font-weight:lighter; margin-top:-300px; color: #3750B2; ">Health on the go
		</h2>
		<h2 style="margin-left: 700px; font-size: 30px; font-family: open sans; font-weight: bold; margin-top:-100px; color: #3750B2; ">Medika-go,
		</h2>
		
	</body>
</html>