<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Login</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
		{% if err %}
			<script>
				alert("{{err}}");
			</script>
		{% endif %}
	</head>
	<body>
		<div class="rectangle"></div>
		<img class="logo" src="{% static 'images/LOGO.svg' %}" alt="logo">
		<form method="POST" action="">
				{% csrf_token %}
				<p class="username">username</p> {{ form.username }}
				<p class="password">password</p> {{ form.password }}
			<button type="submit" class="login">Login</button>
		</form>
		<a href="#" class="forgot_password">forgot password?</a>
	</body>
</html>