<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Register</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/register.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script type="text/javascript" src="{% static 'javascript/register.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		{% if err %}
			<script>
				alert("{{err}}");
			</script>
		{% endif %}
	</head>
	<body id="body_buat_tindakan">
		<div id="box">
			<br>
			<br>
			<img class="logo" src="{% static 'images/LOGO.svg' %}" alt="logo">
			<br>
			<br>
			<form class="needs-validation" method="POST" novalidate>
				{% csrf_token %}
				<input type="text" name="role" id="role_clicked" style="display:none;position:absolute;" value="admin">
				<div class="form-row">
					<label class="col-sm-5 col-form-label">role</label>
					<div class="form-group col-md-2">
						<button type="button" class="button_clicked" id="admin">admin</button>
					</div>
					<div class="form-group col-md-2">
						<button type="button" class="button_unclicked" id="dokter">dokter</button>
					</div>
					<div class="form-group col-md-2">
						<button type="button" class="button_unclicked" id="pasien">pasien</button>
					</div>
				</div>
				
				<div class="form-row">
					<label class="col-sm-4 col-form-label">username</label>
					<div class="form-group col-sm-8">
						<input type="text" name="username" class="form-control form-control-sm input pengguna_form" placeholder="max: 50" required>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<label class="col-sm-4 col-form-label">password</label>
					<div class="form-group col-sm-8">
						<input type="password" name="password" class="form-control form-control-sm input pengguna_form" required>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<label class="col-sm-4 col-form-label">nomor identitas</label>
					<div class="form-group col-sm-8">
						<input type="text" name="nomor_identitas" class="form-control form-control-sm input pengguna_form" placeholder="max: 50" required>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<label class="col-sm-4 col-form-label">nama lengkap</label>
					<div class="form-group col-sm-8">
						<input type="text" name="nama_lengkap" class="form-control form-control-sm input pengguna_form" placeholder="max: 50" required>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<label class="col-sm-4 col-form-label">tanggal lahir</label>
					<div class="form-group col-sm-8">
						<input type="date" name="tanggal_lahir" class="form-control form-control-sm input pengguna_form" required>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<label class="col-sm-4 col-form-label">email</label>
					<div class="form-group col-sm-8">
						<input type="email" name="email" class="form-control form-control-sm input pengguna_form" placeholder="max: 50" required>
						<div class="invalid-feedback">
							Please enter a valid email.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<label class="col-sm-4 col-form-label">alamat</label>
					<div class="form-group col-sm-8">
						<textarea class="form-control form-control-sm" name="alamat" rows="2" style="border: 0.208vw solid #FF7364;border-radius: 0.8vw"></textarea>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row" id="nomor_SIP" style="display:none;">
					<label class="col-sm-4 col-form-label">Nomor SIP</label>
					<div class="form-group col-sm-8">
						<input type="text" name="nomor_SIP" class="form-control form-control-sm input dokter_form" placeholder="max: 50" required>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row" id="spesialisasi" style="display:none;">
					<label class="col-sm-4 col-form-label">Spesialisasi</label>
					<div class="form-group col-sm-8">
						<input type="text" name="spesialisasi" class="form-control form-control-sm input dokter_form" required>
						<div class="invalid-feedback">
							Please enter a value.
						</div>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
				</div>
				
				<div class="form-row" id="id_tindakan" style="display:none;">
					<label for="exampleInputPassword1" class="col-sm-4 col-form-label">Alergi</label>
					<div class="form-group col-md-6">
						<input type="text" name="alergi" class="form-control form-control-sm input pasien_form" placeholder="max: 50" required>
						<div class="valid-feedback">
							Looks good!
						</div>
						<div class="invalid-feedback">
							Please enter a value. Or check if there's any duplications
						</div>
					</div>
					<div class="form-group col-md-2">
						<button type="button" class="button_plus" id="button_plus_active">+</button>
					</div>
				</div>
				
				<br>
				<button type="submit" class="button">Register</button>
			</form>
			<br>
			<br>
		</div>
		
		<script type="text/javascript" src="{% static 'javascript/register.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>