@import url(https://fonts.googleapis.com/css?family=Open+Sans);

table {
	font-family: Open Sans;
}

.logo {
	width: 27vw;
	height: 8vh;

}

.profile_icon {
	width: 2.292vw;
	height: 3.22265625vh;
}

.button_update {
	font-family:Open Sans;
	font-size:0.7em;
	width: 6vw;
	height: 4vh;
	border-radius:1.8vw;
	border:0.108vw solid #3750B2;
	color: #3750B2;
	background-color: #FFFFFF;
	outline:none !important;
}

.button_delete {
	font-family:Open Sans;
	font-size:0.7em;
	width: 6vw;
	height: 4vh;
	border-radius:1.8vw;
	border:0px;
	color: #FFFFFF;
	background-color: #FF7364;
	outline:none !important;
}

#formtitle {
	font-family: "Open Sans";
	font-size: 30px;
	color: #3750B2;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}

#box {
	width: 90vw;
	margin:0 auto;
	justify-content: center;
	background-color:#FFFFFF;
	border-radius:1.2vw;
	margin-top: 50px;
	
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

#body_buat_tindakan {
	background-color: #FFF7F7;
}

tr {
	color: #3750B2;
}