@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	height: 116vh;
}

.logo {
	width: 27vw;
	height: 8vh;

}

a {
	font-family: Open Sans;
	color: #FFFFFF;
}

.profile_icon {
	width: 2.292vw;
	height: 3.22265625vh;
}

.plus_icon {
	position: absolute;
	width: 600px;
	height: 600px;
	right: 0;
	bottom: -15.72%;
}

.profile_judul {
	position: absolute;
	width: 25vw;
	height: 12vh;
	left: 2.5vw;
	top: 25vh;
}

.role {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 47vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.admin {
	
	font-family:Open Sans;
	font-weight:bold;
	width: 22vw;
	height: 3.90625vh;
	border-radius:1.8vw;
	color: #FFFFFF;
	background-color: #FF7364;
	position: absolute;
	left: 25.5vw;
	top: 47vh;
	outline: 0;
	text-align: center;
}

.username {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 54.5vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_username {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 54.5vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.password {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 62vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_password {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 62vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.nomor_identitas {
	position: absolute;
	height: 3.90625vh;
	left: 5.5vw;
	top: 69.5vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_nomor_identitas {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 69.5vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.nama_lengkap {
	position: absolute;
	height: 3.90625vh;
	left: 5.5vw;
	top: 77vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_nama_lengkap {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 77vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.tanggal_lahir {
	position: absolute;
	height: 3.90625vh;
	left: 5.5vw;
	top: 84.5vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_tanggal_lahir {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 84.5vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.email {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 92vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_email {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 92vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.alamat {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 99.5vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_alamat {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 99.5vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.nomor_SIP {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 107vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_nomor_SIP {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 107vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.spesialisasi {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 114.5vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_spesialisasi {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 114.5vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}