@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	height: 130vh;
}

.plus_icon {
	position: absolute;
	width: 600px;
	height: 600px;
	right: 0;
	bottom: -30.72%;
}

.nomor_SIP {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 107vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_nomor_SIP {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 107vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}

.spesialisasi {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 5.5vw;
	top: 114.5vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.input_spesialisasi {
	font-family:Open Sans;
	font-weight:bold;
	color: #FFFFFF;
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 25.5vw;
	top: 114.5vh;

	background: #FF7364;
	box-sizing: border-box;
	border-radius: 0.833vw;
	text-align: center;
}