<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Buat Tindakan</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="{% static 'css/profile.css' %}">
		<link rel="stylesheet" href="{% static 'css/buat_tindakan.css' %}">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static 'javascript/buat_tindakan.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		{% if err %}
			<script>
				alert("{{err}}");
			</script>
		{% endif %}
	</head>
	<body id="body_buat_tindakan">
		{% include 'navbar.html' %}
		<div id="box">
			<br>
			<br>
			<h4 id="form-judul">Form Buat Tindakan</h4>
			<br>
			<form class="needs-validation" method="POST" novalidate>
				{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputEmail1">ID Konsultasi</label>
					<select class="form-control form-control-sm" name="id_konsultasi" required>
						{% for id_konsultasi in id_konsultasis %}
							<option>{{id_konsultasi.0}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="form-group">
					<label for="exampleInputEmail1">ID Transaksi</label>
					<select class="form-control form-control-sm" name="id_transaksi" required>
						{% for id_transaksi in id_transaksis %}
							<option>{{id_transaksi.0}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">Catatan</label>
					<textarea class="form-control form-control-sm" rows="3" name="catatan"></textarea>
				</div>
				
				<div class="form-row" id="id_tindakan">
					<div class="form-group col-md-10 tindakan_poli_dropdown">
						<label>ID Tindakan Poliklinik</label>
						<select class="form-control form-control-sm" name="id_tindakan_form" required>
							{% for id_tindakan_poli in id_tindakan_polis %}
								<option>{{id_tindakan_poli.0}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group col-md-2">
						<button type="button" class="button_plus" id="button_plus_active">+</button>
					</div>
				</div>
				
				<br>
				<button type="submit" class="button">Create</button>
			</form>
			<br>
			<br>
		</div>
		
		<script type="text/javascript" src="{% static 'javascript/buat_tindakan.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>