<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Buat Tindakan Poliklinik</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/profile.css' %}">
		<link rel="stylesheet" href="{% static 'css/tindakan_poli.css' %}">
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/tindakan_poli.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		{% if err %}
			<script>
				alert("{{err}}");
			</script>
		{% endif %}
	</head>
	<body id="body_tindakan_poli">
		{% include 'navbar.html' %}
		<div id="box">
			<br>
			<br>
			<h4 id="form-judul">Form Pembuatan Tindakan Poliklinik</h4>
			<br>
			<form class="needs-validation" method="POST" novalidate>
				{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputEmail1">ID Poliklinik</label>
					<select class="form-control form-control-sm" name="id_poliklinik" required>
						{% for id_poliklinik in id_polikliniks %}
							<option>{{id_poliklinik.0}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">Nama Tindakan</label>
					<input type="text" class="form-control form-control-sm" placeholder="max: 50" name="nama_tindakan" required>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">Deskripsi</label>
					<textarea class="form-control form-control-sm" rows="3" name="deskripsi"></textarea>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">Tarif</label>
					<input type="number" class="form-control form-control-sm" placeholder="number only" name="tarif" required>
				</div>
				
				<br>
				<button type="submit" class="button">Create</button>
			</form>
			<br>
			<br>
		</div>
		
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/tindakan_poli.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>