<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Daftar Tindakan Poliklinik</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/daftar_tindakan_poliklinik.css' %}">
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/daftar_tindakan_poliklinik.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		{% if err %}
			<script>
				alert("{{err}}");
			</script>
		{% endif %}
	</head>
	<body id="body_buat_tindakan">
		{% include 'navbar_non_admin.html' %}
		<h3 id="formtitle">Daftar Tindakan Poliklinik</h3>
		<div id="box">
			<table class="table table-borderless" style="margin-left:20px;">
			  <thead>
				<tr style="color:#FF7364;">
				  <th scope="col" style="padding-top:1.5rem !important;">ID Tindakan Poliklinik</th>
				  <th scope="col" style="padding-top:1.5rem !important;">ID Poliklinik</th>
				  <th scope="col" style="padding-top:1.5rem !important;">Nama Tindakan</th>
				  <th scope="col" style="padding-top:1.5rem !important;">Deskripsi</th>
				  <th scope="col" style="padding-top:1.5rem !important;">Tarif</th>
				</tr>
			  </thead>
			  <tbody>
				{% for tindakan_poli in tindakan_polis %}
				<tr>
				  <th scope="row">{{tindakan_poli.0}}</th>
				  <td>{{tindakan_poli.1}}</td>
				  <td>{{tindakan_poli.2}}</td>
				  <td>{{tindakan_poli.4}}</td>
				  <td>{{tindakan_poli.3}}</td>
				</tr>
				{% endfor %}
			  </tbody>
			</table>
		</div>
		
		<script type="text/javascript" src="{% static 'javascript/daftar_tindakan_poliklinik.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>