<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Daftar Tindakan</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/daftar_tindakan_poliklinik.css' %}">
		<script type="text/javascript" src="{% static 'javascript/daftar_tindakan.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		{% if err %}
			<script>
				alert("{{err}}");
			</script>
		{% endif %}
	</head>
	<body id="body_buat_tindakan">
		{% include 'navbar.html' %}
		<h3 id="formtitle">Daftar Tindakan</h3>
		<div id="box">
			<table class="table table-borderless" style="margin-left:20px;">
			  <thead>
			  
				<tr style="color:#FF7364;">
				  <th scope="col" style="padding-top:1.5rem !important;">ID Konsultasi</th>
				  <th scope="col" style="padding-top:1.5rem !important;">No Urut</th>
				  <th scope="col" style="padding-top:1.5rem !important;">Biaya</th>
				  <th scope="col" style="padding-top:1.5rem !important;width:150px;">Catatan</th>
				  <th scope="col" style="padding-top:1.5rem !important;">ID Transaksi</th>
				  <th scope="col" style="padding-top:1.5rem !important;display:inline-block;">ID Tindakan Poliklinik</th>
				  <th scope="col" style="padding-top:1.5rem !important;"></th>
				</tr>
			  </thead>
			  <tbody>
				{% for daftar_tindakan_poli, tindakan in mylist %}
				<tr>
				  <th scope="row">{{tindakan.0}}</th>
				  <td>{{tindakan.1}}</td>
				  <td>{{tindakan.2}}</td>
				  <td>{{tindakan.3}}</td>
				  <td>{{tindakan.4}}</td>
				  <td>
					{% for id_tindakan_poli in daftar_tindakan_poli %}
						<li>{{id_tindakan_poli}}</li>
					{% endfor %}
				  </td>
				  <td>
					<button type="submit" class="button_update" scope="col"><a style = "text-decoration:none;" href="{% url 'greenFeature:update_tindakan' %}{{tindakan.0}}/{{tindakan.1}}">Update</a></button>
					<button type="submit" class="button_delete" scope="col"><a style = "text-decoration:none;color:#FFFFFF;" href="{% url 'greenFeature:delete_tindakan' %}{{tindakan.0}}/{{tindakan.1}}">Delete</a></button>
				  </td>
				</tr>
				{% endfor %}
			  </tbody>
			</table>
		</div>
		
		<script type="text/javascript" src="{% static 'javascript/daftar_tindakan.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>