<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>
    <script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light" style="background-color: #F3F9FF;height:17vh;">
			<a class="navbar-brand" href="{% url 'greenFeature:profile_page' %}"><img class="logo" src="{% static 'images/LOGO.svg' %}"></img></a>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto"">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:#000000;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sesi Konsultasi
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#EDF1FF;border:0px;">
							<a class="dropdown-item" href="{% url 'redFeature:buat_sesikonsultasi' %}">Buat Sesi Konsultasi</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'redFeature:daftar_sesikonsultasi' %}">Daftar Sesi Konsultasi</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:#000000;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Poliklinik
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#EDF1FF;border:0px;">
							<a class="dropdown-item" href="{% url 'purpleFeature:buatlayananpoliklinik' %}">Buat Layanan Poliklinik</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'purpleFeature:jadwalpoliklinik' %}">Daftar Layanan Poliklinik</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'purpleFeature:buatlayananpoliklinik' %}">Buat Jadwal Poliklinik</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'purpleFeature:jadwalpoliklinik' %}">Daftar Jadwal Poliklinik</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:#000000;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							RS Cabang
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#EDF1FF;border:0px;">
							<a class="dropdown-item" href="{% url 'redFeature:buat_rscabang' %}">Buat RS Cabang</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'redFeature:daftar_rscabang' %}">Daftar RS Cabang</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'purpleFeature:daftardoktercabang' %}">Daftarkan Dokter</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'purpleFeature:daftardokter' %}">Daftar Dokter RS Cabang</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:#000000;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Tindakan
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#EDF1FF;border:0px;">
							<a class="dropdown-item" href="{% url 'greenFeature:buat_tindakan' %}">Buat Tindakan</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'greenFeature:daftar_tindakan' %}">Daftar Tindakan</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'greenFeature:buat_tindakan_poliklinik' %}">Buat Tindakan Poliklinik</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'greenFeature:daftar_tindakan_poliklinik' %}">Daftar Tindakan Poliklinik</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:#000000;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Resep & Obat 
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#EDF1FF;border:0px;">
							<a class="dropdown-item" href="#">Buat Resep</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Daftar Resep</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Buat Obat</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Daftar Obat</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:#000000;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Transaksi 
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#EDF1FF;border:0px;">
							<a class="dropdown-item" href="{% url 'blueFeature:buatTransaksi'%}">Buat Transaksi</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'blueFeature:RUDadmin'%}">Daftar Transaksi</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:#000000;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="{% static 'images/profile_icon.svg' %}" class="profile_icon"></img>
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="background-color:#EDF1FF;border:0px;">
							<a class="dropdown-item" href="{% url 'greenFeature:profile_page' %}">Profil</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'firstFeature:logout' %}">Log out</a>
						</div>
					</li>
					
				</ul>
			</div>
		</nav>
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>