<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Profile Pasien</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/profile.css' %}">
		<link rel="stylesheet" href="{% static 'css/profile_pasien.css' %}">
		<script type="text/javascript" src="{% static 'javascript/profile.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		{% include 'navbar_non_admin.html' %}
		
		<img class="profile_judul" src="{% static 'images/profile_judul.svg' %}" alt="logo"></img>
		<img class="plus_icon" src="{% static 'images/plus_icon.svg' %}" alt="logo"></img>
		
		<p class="role">role</p>
		<p class="admin">Pasien</p>
		
		<p class="username">username</p>
		<p class="input_username">{{user.1}}</p>
		
		<p class="password">password</p>
		<p class="input_password">{{user.2}}</p>
		
		<p class="nomor_identitas">nomor identitas</p>
		<p class="input_nomor_identitas">{{user.4}}</p>
		
		<p class="nama_lengkap">nama lengkap</p>
		<p class="input_nama_lengkap">{{user.3}}</p>
		
		<p class="tanggal_lahir">tanggal lahir</p>
		<p class="input_tanggal_lahir">{{user.5}}</p>
		
		<p class="email">email</p>
		<p class="input_email">{{user.0}}</p>
		
		<p class="alamat">alamat</p>
		<p class="input_alamat">{{user.6}}</p>
		
		<p class="alergi">alergi</p>
		<p class="input_alergi">{{alergi}}</p>
		
		<script type="text/javascript" src="{% static 'javascript/profile.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>