<!DOCTYPE html>
{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Update Tindakan</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/profile.css' %}">
		<link rel="stylesheet" href="{% static 'css/buat_tindakan.css' %}">
		<script type="text/javascript" src="{% static 'javascript/buat_tindakan.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		{% if err %}
			<script>
				alert("{{err}}");
			</script>
		{% endif %}
	</head>
	<body id="body_buat_tindakan">
		{% include 'navbar.html' %}
		<div id="box">
			<br>
			<br>
			<h4 id="form-judul">Form Update Tindakan</h4>
			<br>
			<form class="needs-validation" method="POST" novalidate>
				{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputPassword1">ID Konsultasi</label>
					<input type="text" class="form-control form-control-sm" value="{{tindakan.0}}" disabled>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">No Urut</label>
					<input type="text" class="form-control form-control-sm" value="{{tindakan.1}}" disabled>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">Biaya</label>
					<input type="number" class="form-control form-control-sm" value="{{tindakan.2}}" disabled>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">{{Catatan}}</label>
					<textarea class="form-control form-control-sm" rows="3" name="catatan">{{tindakan.3}}</textarea>
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">ID Transaksi</label>
					<input type="text" class="form-control form-control-sm" value="{{tindakan.4}}" disabled>
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Daftar ID Tindakan Poliklinik</label>
					<select class="form-control form-control-sm" name="id_tindakan_form" id="first_id">
						{% for id_tindakan_poli in id_tindakan_polis %}
							<option disabled>{{id_tindakan_poli.0}}</option>
						{% endfor %}
					</select>
				</div>
				
				<br>
				<button type="submit" class="button">Update</button>
			</form>
			<br>
			<br>
		</div>
		
		<script type="text/javascript" src="{% static 'javascript/buat_tindakan.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>