@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	width: 99vw;
	height: 97vh;
	background: #FFFFFF;
}

.logo {
	position: absolute;
	width: 23.542vw;
	height: 3.542vw;
	left: 3.264vw;
	top: 2.222vw;

}

.navbar {
	position: absolute;
	margin-top:-0.556vw;
	width:100%;
	height: 8.472vw;
	left: 0vw;
	top: 0vw;
	background: #F3F9FF;
}

.login {
	position: absolute;
	width: 4.097vw;
	height: 2.292vw;
	left: 80.069vw;
	top: 2.917vw;
	
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 1.667vw;
	line-height: 2.292vw;
	color: #000000;
}

h1 {
	position: absolute;
	width: 12.431vw;
	height: 5.417vw;
	left: 7.014vw;
	top: 12vw;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 4.444vw;
	line-height: 5.417vw;
	
	color: #3750B2;
}

.register {
	position: absolute;
	width: 6.111vw;
	height: 2.292vw;
	left: 88.194vw;
	top: 2.917vw;
	
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 1.667vw;
	line-height: 2.292vw;
	color: #000000;
}

a {
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

a:hover {
	color: #3750B2;
}