@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	width: 98vw;
	height: 97vh;
	background: #FF7364;
}

.logo {
	position: absolute;
	width: 46vw;
	height: 9.765625vh;
	left: 26vw;
	top: 24.8046875vh;

}

.rectangle {
	position: absolute;
	width: 71vw;
	height: 68vh;
	left: 14vw;
	top: 16vh;

	background: #F3F9FF;
	box-shadow: 0vw 1vw 4vw rgba(0, 0, 0, 0.25);
	border-radius: 3vw;
}

.username {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 29vw;
	top: 45vh;
	margin:0;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

.password {
	position: absolute;
	width: 12vw;
	height: 3.90625vh;
	left: 29vw;
	top: 52vh;
	margin:0;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	line-height: 4vh;

	color: #3750B2;
}

#id_username {
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 49vw;
	top: 45vh;
	font-size:2.5vh;

	background: #FFFFFF;
	border: 0.208vw solid #FF7364;
	box-sizing: border-box;
	border-radius: 0.533vw;
	
	outline: 0;
}

#id_password {
	position: absolute;
	width: 22vw;
	height: 3.90625vh;
	left: 49vw;
	top: 52vh;
	font-size:2.5vh;

	background: #FFFFFF;
	border: 0.208vw solid #FF7364;
	box-sizing: border-box;
	border-radius: 0.533vw;
	
	outline: 0;
}

.forgot_password {
	position: absolute;
	width: 17vw;
	height: 3.2vh;
	left: 44vw;
	top: 58.5vh;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 1.5vw;
	line-height: 3.2vh;

	color: #3750B2;
}

a {
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

a:hover {
	color: #3750B2;
}

button, .login {
	font-family:Open Sans;
	font-weight:bold;
	position: absolute;
	font-size: 1.2vw;
	width: 10vw;
	height: 8vh;
	left: 45vw;
	top: 69vh;
	border-radius:1.8vw;
	border:0px;
	padding: 0.9vw 1.4vw;
	color: #FFFFFF;
	background-color: #3750B2;
	
	outline: 0;
}