@import url(https://fonts.googleapis.com/css?family=Open+Sans);

form {
	width: 500px;
	font-family: Open Sans;
	font-weight: Bold;
	color: #FF7364;
	margin:0 auto;
}

#form-judul {
	width:auto;
	font-family: Open Sans;
	text-align: center;
	font-weight: Bold;
	color: #3750B2;
}

label {
	font-family: Open Sans;
	color: #3750B2;
}

.logo {
	width: 46.458vw;
	height: 9.765625vh;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.button {
	font-family:Open Sans;
	width: 10vw;
	height: 6vh;
	border-radius:1.8vw;
	border:0px;
	color: #FFFFFF;
	background-color: #3750B2;
	margin-left:38%;
	outline:none !important;
}

.button_plus {
	font-family:Open Sans;
	width: 6vw;
	border-radius:1.8vw;
	border:0px;
	color: #FFFFFF;
	background-color: #3750B2;
	outline:none !important;
}

.button_clicked {
	font-family:Open Sans;
	font-weight:bold;
	font-size: 1vw;
	width: 6vw;
	border-radius:1.8vw;
	border: 0.208vw solid #FF7364;
	color: #FFFFFF;
	background-color: #FF7364;
	outline: none !important;
}

.button_unclicked {
	font-family:Open Sans;
	font-weight:bold;
	font-size: 1vw;
	width: 6vw;
	border-radius:1.8vw;
	border: 0.208vw solid #FF7364;
	color: #FFFFFF;
	background-color: #3750B2;
	outline: none !important;
}

.input {
	background: #FFFFFF;
	border: 0.208vw solid #FF7364 !important;
	box-sizing: border-box;
	border-radius: 2vw !important;
}

#box {
	width: 71vw;
	margin:0 auto;
	justify-content: center;
	border-radius:1.2vw;
	margin-top: 50px;
	
	background: #F3F9FF;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

#body_buat_tindakan {
	background-color: #FF7364;
}