

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.logo {
	width: 27vw;
	height: 8vh;

}

a {
	font-family: Open Sans;
	color: #FFFFFF;
}

.profile_icon {
	width: 2.292vw;
	height: 3.22265625vh;
}

#whitespace{
    width :80%;
    height:80%;
}
table{
    width:100%;
    table-layout: fixed;
    word-wrap: break-word;
    overflow-y: scroll;
    z-index: 10;
}
#jadwalpoliklinikdetailstable{
    border-collapse: separate;
    border-spacing: 0px 10px;
}
html,body{height:100%;margin:0;padding:0;background-color: #EDF1FF;}
#daftardokterbody{
    height: 100%;
    background-color:#EDF1FF;;
    background-image:url("/static/images/3485318.jpg");
    background-blend-mode:color-burn; 
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    overflow: hidden;
    z-index: 1;

}
#poliklinikbody{
    background-color:#EDF1FF;
    background-image:url("/static/images/poliklinik2.jpg");
    background-blend-mode:color-burn; 
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    overflow : scroll;
    z-index: 1;
}
#detailsbody{
    height: 100%;
    background-color:#EDF1FF;;
    background-image:url("/static/images/schedule2.jpg");
    background-blend-mode:soft-light; 
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    overflow: auto;
    z-index: 1;
}
.container-fluid{max-height: 75%; height:75%;width:75%;background-color:white; z-index: 10;overflow-y: auto;}
#container-fluid-admin{width:95%}


.row{width : 100%; margin-bottom: 3%; z-index: 10;}
#title{margin-bottom:5%;}
.board-container{margin-top:10%;width:100%;padding:40px;box-sizing:border-box;z-index: 10;}
#board-container-jadwal-pol{margin-top:0%}
.col{font-weight:bold;color :#FF7364;height:100%;width:100%;z-index: 10;}
#details{font-family:Open Sans;font-weight: bold; color:#3750B2;z-index:10}

.padding-0{
    padding-left: 0px;
    padding-right: 0px;
    padding:0px; 
    border-width:0px; 
    margin:0px; 
    border-collapse: collapse;
}
#title-jadwal-pol{
    margin-top:5%;
    margin-bottom: 3%;
    color:#3750B2;
}

.jadwalbtn{
    border-radius: 25px;
    width: 50%;
    color:white !important;
}


