body {
    background-color: #FFF7F6;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  
  #formtitle{
      font-family: "Open Sans";
      font-size: 30px;
      color: #3750B2;
      text-align: center;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  
  #formspace{
      margin-top: 50px;
      margin-left: 350px;
      margin-right: 350px;
      border-radius: 14px;
      color: black;
      padding: 10px;
      padding-bottom:30px;
      font-family: "Open Sans";
      -webkit-box-shadow: -2px -3px 20px -1px rgba(232,232,232,1);
      -moz-box-shadow: -2px -3px 20px -1px rgba(232,232,232,1);
      box-shadow: -2px -3px 20px -1px rgba(232,232,232,1);
  }
  
  #listspace{
      margin:0 auto;
      border-radius: 14px;
      justify-content: center;
      padding: 10px;
      padding-bottom:30px;
      font-family: "Open Sans";
    -webkit-box-shadow: -2px -3px 20px -1px rgba(232,232,232,1);
    -moz-box-shadow: -2px -3px 20px -1px rgba(232,232,232,1);
    box-shadow: -2px -3px 20px -1px rgba(232,232,232,1);
     
  }
      
  #questions{
      font-family: "Open Sans";
      font-size: 14px;
      color: #FF7364;
      padding-left: 20px;
  }
  
  textarea{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #F4F6F8;
    border-color: #f4f6f8; 
    border-radius: 6px;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
    -moz-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
    box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
    overflow: hidden;
    width: 88%;
  }
  
  input:disabled {
    font-family: "Open Sans"; 
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #F4F6F8;
    border-color: #f4f6f8; 
    border-radius: 6px;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
    -moz-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
    box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
    overflow: hidden;
    width: 88%;
  }
  #namefield{
      background:#F4F6F8;
  }
  .search_categories{
      
     margin-left: 20px;
     margin-right: 20px;
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #F4F6F8;
    border-radius: 6px;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  -moz-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  overflow: hidden;
  }
  .manual{
    
  }

  #text_control{
      padding-bottom: 0px;
  }

  .date_controller{
    margin-left: 20px;
    margin-right: 20px;
   font-size: 13px;
   padding: 10px 8px 10px 14px;

  }
.divider{
    width : 10%;
    padding:0px 0px 0px 0px;
}
  #date_controller{
    background: #F4F6F8;
    border-radius: 6px;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  -moz-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  overflow: hidden;

  }
  
  .search_categories .select{
      font-family:"Open Sans";
    width: 120%;
    background-position:80% center;
  }
  
  .search_categories .select select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
  }
  
  #birthday{
      font-family:"Open Sans";
      font-size: 13px;
      padding: 10px 8px 10px 14px;
      background: #F4F6F8;
      width: 87.5%;
      border: 1px solid #f4f6f8;
      border-radius: 6px;
      position: relative;
      margin-left: 20px;
      -webkit-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  -moz-box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  box-shadow: inset 0px 0px 8px -1px rgba(232,232,232,1);
  }
  
  .button {
      margin-top:30px;
    background-color: #3750B2; /* Green */
    border: none;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Open Sans";
    border-radius: 26px;
  }
  .wrapper{
      text-align: center;
  }
  
  #daftarsesi{
      margin-left:10px;
  }
  
  #field{
      font-family:"Open Sans";
      color: #FF7364;
  }
  
  td{
    font-size:14px;
    font-weight: bold;
    color:#3750B2; 
  }
  
  th{
    font-size:14px;
    font-weight: bold;
    color:#3750B2; 
  }
  
  .table{
    margin-left: 10px;
    overflow: hidden;
  }
  
  .button_update {
    font-family:Open Sans;
    font-size:0.7em;
    width: 6vw;
    height: 4vh;
    border-radius:1.8vw;
    border:0.108vw solid #3750B2;
    color: #3750B2;
    background-color: #FFFFFF;
    outline:none !important;
  }
  
  .button_delete {
    font-family:Open Sans;
    font-size:0.7em;
    width: 6vw;
    height: 4vh;
    border-radius:1.8vw;
    border:0px;
    color: #FFFFFF;
    background-color: #FF7364;
    outline:none !important;
  }
  
  .table-responsive{
    overflow-x: hidden;
  }
  
  
  