@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.logo {
	width: 27vw;
	height: 8vh;

}

a {
	font-family: Open Sans;
	color: #FFFFFF;
}

.profile_icon {
	width: 2.292vw;
	height: 3.22265625vh;
}