
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/daftar.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body id = "daftardokterbody">
        {% include "navbar_admin.html" %}
        <div class="container-fluid" id="container-fluid-admin">
            <div class="row board-container">
                <table id="dtVerticalScrollExample" class ="table table-striped">
                    <thead>
                        <tr class = "success">
                          <th style="width: 30.25%"  class = "col">Kode Rs cabang</th>
                          <th style="width: 30.5%"  class = "col">Id dokter</th>
                          <th style="width: 15.25%"  class = "col"></th>
                          <th style="width: 15.25%"  class = "col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for doctor in doctors %}
                        <tr>
                          <td style="width: 14.28%" class = "col" id = "details"> {{doctor.0}} </th>
                          <td style="width: 14.28%" class = "col" id = "details">{% for ids in doctor.1 %} {{ids}} </br> {% endfor %}</td>
                          <td style="width: 6.25%" class = "col"> {% for ids in doctor.1 %} <a class = "btn btn-outline-secondary"href = "{% url 'purpleFeature:updatedaftardokter' %}{{ids}}/{{doctor.0}}" type="button" class="btn btn-outline-secondary ">Update</a> </br> {% endfor %}</td>
                          <td style="width: 6.25%" class = "col"> {% for ids in doctor.1 %} <a class = "btn btn-outline-danger"href = "{% url 'purpleFeature:deletedokter' %}{{ids}}/{{doctor.0}}" type="button" class="btn btn-outline-secondary ">Delete</a> </br> {% endfor %} </td>
                          <p> </br> </p>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>