<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href ="{% static 'css/forms1.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href ="{% static 'css/navbar.css' %}">
</head>
<body>
    {% include "navbar_admin.html" %}

<form class="needs-validation" method="POST" novalidate>
  {% csrf_token %}
  <div id="formspace" style="background-color:white">
    <h3 id="formtitle">Form Pembuatan Layanan Poliklinik</h3>
   

    <h4 id ="questions">ID Poliklinik </h4>
    <div class="search_categories">
        <div class = "form-group">
       <div class="select">
          <input name = "id_poliklinik" class = "form-check-input" id = "search_categories"value = {{poliklinik.0}} disabled>
        </div>
        </div>
    </div>

 <h4 id ="questions">Nama Layanan </h4>
 <div class="search_categories">
  <div class = "form-group">
    <div class="select">
       <input name = "nama_layanan" class = "form-check-input"  id = "search_categories"value = {{poliklinik.2}}>
     </div>
  </div>
 </div>


 <h4 id ="questions">Deskripsi</h4>
 <div class="search_categories">
     <div class = "form-group">
      <div class="select">
       <textarea name ="deskripsi" class = "form-check-input" id = "search_categories" rows = 3> {{poliklinik.3}} </textarea>
     </div>
     </div>
 </div>

 <h4 id ="questions">RS Cabang Penyedia Layanan </h4>
    <div class="search_categories">
        <div class = "form-group">
       <div class="select">
          <input name ="kode_rs" class = "form-check-input" id = "search_categories"value = {{poliklinik.1}} disabled>
        </div>
        </div>
    </div>





 </div>
</div>



 
 <div class="wrapper">
 <input type="Submit" class="button" value="Submit">
 </div>
 
</div>
</form>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




</body>
</html>