<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href ="{% static 'css/forms1.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href ="{% static 'css/navbar.css' %}">
</head>
<body>
    {% include "navbar_admin.html" %}

<form class="needs-validation" method="POST" novalidate>
  {% csrf_token %}
  <div id="formspace" style="background-color:white">
    <h3 id="formtitle">Form Update Jadwal</h3>
   

    <h4 id ="questions">ID Jadwal Layanan Poliklinik </h4>
    <div class="search_categories">
       <div class="select">
          <select name="search_categories" id="search_categories" disabled>
             <option value="1" selected="selected">{{schedule.0}}</option>
           </select>
        </div>
        <h4 id = "questions"> Hari </h4>
 <div class = "date_controller" id = "jadwals">
     <div class = "row" id = "rowyourboat">
         <div class = "col "id ="date_controller">
            <div class="select">
                <select name="hari" id="search_categories">
                   <option value={{schedule.3}} selected>{{schedule.3}} </option>
                   <option value="Senin" >Senin</option>
                   <option value="Selasa">Selasa</option>
                   <option value="Rabu">Rabu</option>
                   <option value="Kamis">Kamis</option>
                   <option value="Jumat">Jumat</option>
                   <option value="Sabtu">Sabtu</option>
                   <option value="Minggu">Minggu</option>
                 </select>
              </div>
         </div>
        </div>
    </div>

 <h4 id ="questions">Waktu Mulai </h4>
 <div class="search_categories">
    <div class="select">
       <input name="waktu_mulai" type = "time" class = "search_categories" value = {{schedule.1}}>
     </div>
 </div>

 <h4 id ="questions">Waktu Selesai </h4>
 <div class="search_categories">
    <div class="select">
       <input name="waktu_selesai" type = "time" class = "search_categories" value = {{schedule.2}}>
     </div>
 </div>

 <h4 id ="questions">Kapasitas </h4>
 <div class="search_categories">
    <div class="select">
       <input name="kapasitas" type = "number" class = "search_categories" value = {{schedule.4}}>  
     </div>
 </div>

 <h4 id = "questions"> ID Dokter </h4>
 <div class = "date_controller" id = "jadwals">
     <div class = "row" id = "rowyourboat">
         <div class = "col "id ="date_controller">
            <div class="select">
                <select name="id_dokter" id="search_categories">
                   <option value={{schedule.5}}>{{schedule.5}}</option>
                   {% for doctor in doctors %}
                   <option value={{doctor.0}}>{{doctor.0}}</option>
                   {% endfor %}
                 </select>
              </div>
         </div>
        </div>
    </div>



        </div>
        <h4 id = "questions"> ID poliklinik </h4>
        <div class = "date_controller" id = "jadwals">
            <div class = "row" id = "rowyourboat">
                <div class = "col "id ="date_controller">
                   <div class="select">
                       <select name="id_poliklinik" id="search_categories" value ={{schedule.6}} disabled>
                          <option value={{schedule.6}} selected="selected">{{schedule.6}}</option>
                        </select>
                     </div>
                </div>
            </div>
        </div>


  </div>




 

 
 <div class="wrapper">
   <input type="Submit" class="button" value="Submit">
 </div>
 
</div>
</form>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




</body>
</html>