<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href ="{% static 'css/forms1.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href ="{% static 'css/navbar.css' %}">
</head>
<body>
    {% include "navbar_admin.html" %}

<form class="needs-validation" method="POST" novalidate>
  {% csrf_token %}
  <div id="formspace" style="background-color:white">
    <h3 id="formtitle">Form Pembuatan Layanan Poliklinik</h3>
    <h4 id="questions">Nama</h4>
    
    <div class="search_categories" id ="text_control" >
      <div class="form-group">
         <input type = "text"class = "form-control" id = "namefield" name="nama" >
       </div>
   </div>
   
   <h4 id="questions">Deskripsi</h4>
   <div class="search_categories" id ="text_control" >
    <div class="form-group">
       <input type = "text"class = "form-control" id = "namefield" name="deskripsi">
     </div>
 </div>

 <h4 id ="questions">Kode RS </h4>
 <div class="search_categories">
    <div class="select">
       <select name="kode_rs" id="search_categories">
         {% for cabang in rs %}
          <option value={{cabang.0}} selected="selected">{{cabang.0}}</option>>
          {% endfor %}
        </select>
     </div>
 </div>

 <h4 id = "questions"> Jadwal </h4>
 <div class = "date_controller" id = "jadwals">
     <div class = "row" id = "rowyourboat">
         <div class = "col "id ="date_controller">
            <div class="select">
                <select name="hari" id="search_categories">
                   <option value="Senin" selected="selected">Senin</option>
                   <option value="Selasa">Selasa</option>
                   <option value="Rabu">Rabu</option>
                   <option value="Kamis">Kamis</option>
                   <option value="Jumat">Jumat</option>
                   <option value="Sabtu">Sabtu</option>
                   <option value="Minggu">Minggu</option>
                 </select>
              </div>
         </div>
         <div class = "col">
            <p> ; </p> 
         </div>

        <div class = "col" id ="date_controller">
        <div class="select">
            <input type="time"name="waktu_mulai" id="search_categories">
          </div>
     </div>

     <div class = "col">
         <p> - </p>
    </div>

    <div class = "col" id ="date_controller">
        <div class="select">
            <input type="time" name="waktu_selesai" id="search_categories">
          </div>
     </div>

     <div class = "col divider">
         <p> ; </p>
     </div>
     <div class = "col"id ="date_controller">
        <div class="select">
            <input name="kapasitas" id="search_categories" type="number" >
          </div>
     </div>

     <div class = "col"id ="date_controller">
      <div class="select">
        <select name=dokter>
          {% for doctor in doctors %}>
          <option value={{doctor.0}}> {{doctor.0}}</option>
          {% endfor %} 
        </select>
        </div>
   </div>


 </div>
 </div>
 <button  type="button" onclick = "appending()" class = "btn btn-outline-info ml-3" id = "check"> <h4> + </h4> </button>

 
 <div class="wrapper">
 <input type="Submit" class="button" value="Submit">
 </div>
 
</div>
</form>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    function appending(){
        var clone = $("#rowyourboat").last().clone()
        $("#jadwals").append(clone);
    }
</script>



</body>
</html>