
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body id = "poliklinikbody">
        {% include "navbar_admin.html" %}
        <blockquote class="blockquote text-center" id ='title-jadwal-pol'>
            <h1 class="mb-0">Layanan Poliklinik</h1>
        </blockquote>
        <div class="container-fluid" id="container-fluid-admin">
            <div class="row board-container-jadwal-pol">
                <table class="table">
                    <thead>
                        <tr>
                          <th style="width: 10%"  class = "col">Id Layanan Poliklinik</th>
                          <th style="width: 12%"  class = "col">Nama</th>
                          <th style="width: 36%"  class = "col">Deskripsi</th>
                          <th style="width: 12%"  class = "col">Kode RS cabang</th>
                          <th style="width: 20%"  class = "col">Jadwal Poliklinik</th>
                          <th style="width: 8%"  class = "col"></th>
                          <th style="width: 8%"  class = "col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for service in services %}
                        <tr>
                          <td class="col" id="details">{{service.0}}</th>
                          <td class="col" id="details">{{service.2}}</td class="col" id="details">
                          <td class="col" id="details"> {{service.3}}</td class="col" id="details">   
                          <td class="col" id="details" >{{service.1}}</td class="col" id="details">
                          <td class = "col" id = "details"> <a class="btn btn-primary jadwalbtn"  href = "{% url 'purpleFeature:jadwalpoliklinikdetails' %}{{service.0}}">Jadwal</a</td>
                          <td> <a class = "btn btn-outline-secondary" href = "{% url 'purpleFeature:updatelayananpoliklinik' %}{{service.0}}/{{service.1}}" class="btn btn-outline-secondary ">Update</a></td>
                          <td>  <a class = "btn btn-secondary" href = "{% url 'purpleFeature:deletelayananpoliklinik' %}/{{service.0}}/{{service.1}}" class="btn btn-outline-secondary ">Delete</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>