<!DOCTYPE html>

<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body id = "poliklinikbody"> 
        {% include "navbar_pasien_dokter.html" %}
        <blockquote class="blockquote text-center" id ='title-jadwal-pol'>
            <h1 class="mb-0">Jadwal Poliklinik</h1>
        </blockquote>
        <div class="container-fluid" id="container-fluid">
            <div class="row board-container-jadwal-pol">
                <table>
                    <thead>
                        <tr>
                          <th style="width: 12.25%"  class = "col">Id Layanan Poliklinik</th>
                          <th style="width: 12.5%"  class = "col">Nama</th>
                          <th style="width: 30.5%"  class = "col">Deskripsi</th>
                          <th style="width: 15%"  class = "col">Cabang</th>
                          <th style="width: 22%"  class = "col">Jadwal Poliklinik</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for service in services %}
                        <tr>
                          <td class="col" id="details">{{service.0}}</th>
                          <td class="col" id="details">{{service.2}}</td class="col" id="details">
                          <td class="col" id="details"> {{service.3}}</td class="col" id="details">   
                          <td class="col" id="details" >{{service.1}}</td class="col" id="details">
                          <td class = "col" id = "details"> <a class="btn btn-primary jadwalbtn"  href = "{% url 'purpleFeature:jadwalpoliklinikdetails' %}{{service.0}}">Jadwal</a</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </body>