
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body id = "detailsbody">
        {% include "navbar_admin.html" %}
        <blockquote class="blockquote text-center" id ='title-jadwal-pol'>
            <h1 class="mb-0">Jadwal Details</h1>
        </blockquote>
        <div class="container-fluid" id="container-fluid-admin">
            <div class="row board-container-jadwal-pol">
                <table class = "table">
                  <tr>
                    <th style="width: 12%"  class = "col">Id Jadwal Layanan Poliklinik</th>
                    <th style="width: 12%"  class = "col">Hari</th>
                    <th style="width: 12%"  class = "col">Waktu Mulai</th>
                    <th style="width: 12%"  class = "col">Waktu Selesai</th>
                    <th style="width: 12%"  class = "col">Kapasitas</th>
                    <th style="width: 12%"  class = "col">ID dokter</th>
                    <th style="width: 12%"  class = "col">ID Poliklinik</th>
                    <th style="width: 8%"  class = "col"></th>
                    <th style="width: 8%"  class = "col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for schedule in schedules %}
                  <tr>
                    <td class="col" id="details">{{schedule.0}}</th>
                    <td class="col" id="details">{{schedule.3}}</td class="col" id="details">
                    <td class="col" id="details"> {{schedule.1}}</td class="col" id="details">   
                    <td class="col" id="details" >{{schedule.2}}</td class="col" id="details">
                    <td class="col" id="details"> {{schedule.4}}</td class="col" id="details"> 
                    <td class="col" id="details"> {{schedule.5}}</td class="col" id="details"> 
                    <td class="col" id="details"> {{schedule.6}}</td> 
                    <td class="col" id="details"> <a class = "btn btn-outline-secondary" href = "{% url 'purpleFeature:updatejadwalpoliklinik' %}{{schedule.0}}" class="btn btn-outline-secondary ">Update</a></td class="col" id="details">
                      <td class="col" id="details"> <a class = "btn btn-secondary" href = "{% url 'purpleFeature:deletejadwalpoliklinik' %}{{schedule.6}}/{{schedule.0}}" class="btn btn-outline-secondary ">Delete</a></td class="col" id="details">
                  </tr>
                  {% endfor %}
                </tbody>