<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href ="{% static 'css/forms1.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/DaftarDokter.css' %}">
  <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href ="{% static 'css/navbar.css' %}">
</head>
<body>
    {% include "navbar_admin.html" %}

<form class="needs-validation" method="POST" novalidate>
  {% csrf_token %}
  <div id="formspace" style="background-color:white">
    <h3 id="formtitle">Form Pendaftaran Dokter - RS cabang</h3>
   

    <h4 id ="questions">ID Dokter </h4>
    <div class="search_categories">
       <div class="select">
          <select name="id_dokter" id="search_categories">
             <option value="1" selected="selected">{{current.0}}</option>
             {% for object in alldoctors %}
             <option value={{object.0}}>{{object.0}}</option>
            {% endfor %}
           </select>
        </div>

 <h4 id ="questions">Kode RS </h4>
 <div class="search_categories">
    <div class="select">
       <select name="kode_rs" id="search_categories">
          <option value="1" selected="selected">{{current.1}}</option>
          {% for code in allcodes %}
          <option value={{code.0}}>{{code.0}}</option>
          {% endfor %}
        </select>
     </div>
 </div>




 </div>



 
 <div class="wrapper">
 <input type="Submit" class="button" value="Submit">
 </div>
 
</div>
</form>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




</body>
</html>