@import url(https://fonts.googleapis.com/css?family=Open+Sans);

form {
	width: 500px;
	font-family: Open Sans;
	font-weight: Bold;
	color: #FF7364;
	margin:0 auto;
}

#form-judul {
	width:auto;
	font-family: Open Sans;
	text-align: center;
	font-weight: Bold;
	color: #3750B2;
}

.button {
	font-family:Open Sans;
	width: 10vw;
	height: 6vh;
	border-radius:1.8vw;
	border:0px;
	color: #FFFFFF;
	background-color: #3750B2;
	margin-left:38%;
	outline:none !important;
}

.button_plus {
	font-family:Open Sans;
	width: 6vw;
	border-radius:1.8vw;
	margin-top:34px;
	border:0px;
	color: #FFFFFF;
	background-color: #3750B2;
	outline:none !important;
}

#box {
	width: 55vw;
	margin:0 auto;
	justify-content: center;
	background-color:#FFFFFF;
	border-radius:1.2vw;
	margin-top: 50px;
	
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

#body_buat_transaksi {
	background-color: rgb(206, 169, 221);
}