@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#body_RUDpasiendokter{
    background-color: rgb(206, 169, 221);
}

#judul-form {
	width:auto;
	font-family: Open Sans;
	text-align: center;
	font-weight: Bold;
    color: #3750B2;
}


/* .table-responsive{
    margin-top : 40px;
} */