<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/buat_transaksi.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'javascript/buat_transaksi.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body id="body_buat_transaksi">
    {% include 'navbar.html' %}
<div id="box">
    <br>
    <br>
    <h4 id="form-judul">Form Pembuatan Transaksi</h4>
    <br>
    <form class="needs-validation" method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Nomor Rekam Medis Pasien</label>
            <select class="form-control form-control-sm" name ="no_rekam_medis" required>
                {% for no_rekam_medis in no_rekam_mediss %}
                    <option>{{no_rekam_medis.0}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" class="button">Submit</button>
    </form>
    <br>
    <br>
</div>

</body>
        </html>