<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/buat_transaksi.css' %}">
  <link rel="stylesheet" href="{% static 'css/daftar_tindakan_poliklinik.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/RUDadmin.css' %}">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</head>
<body id="body_RUDadmin" style="background-color:  rgb(206, 169, 221);">
    {% include 'navbar.html' %}
<div id="box">
    <br>
    <h4 id="judul-form">Daftar Transaksi</h4>
    <br>
    <div class="container"> 
    <div class="table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th>ID Transaksi</th>
            <th>Tanggal</th>
            <th>Status</th>
            <th>Total Biaya</th>
            <th>Waktu Pembayaran</th>
            <th>No Rekam Medis</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
          {% for transaksi in transaksis %}
            <tr>
              <td>{{transaksi.0}}</td>
              <td>{{transaksi.1}}</td>
              <td>{{transaksi.2}}</td>
              <td>{{transaksi.3}}</td>
              <td>{{transaksi.4}}</td>
              <td>{{transaksi.5}}</td>
              <td><button type="button" class="btn btn-primary btn-xs"><a style = "text-decoration:none;color:#FFFFFF" href="{% url 'blueFeature:updateTransaksi' %}{{transaksi.0}}">Update</a></button></td>
              <td><button type="button" class="btn btn-primary btn-xs"><a style = "text-decoration:none;color:#FFFFFF" href="{% url 'blueFeature:deleteTransaksi' %}{{transaksi.0}}">Delete</a></button></td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
    </div>
    </div>
</div>
</div>

</body>
</html>
