<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/buat_transaksi.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/RUDpasiendokter.css' %}">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body id="body_RUDpasiendokter"  style="background-color:  rgb(206, 169, 221);">
    {% include 'navbar_non_admin.html' %}
    <div id="box" class="box-pasiendokter">
    <br>
    <h4 id="judul-form">Daftar Transaksi</h4>
    <br>
<div class="container">
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Tanggal</th>
        <th>Status</th>
        <th>Total Biaya</th>
        <th>Waktu Pembayaran</th>
        <th>No Rekam Medis</th>
      </tr>
    </thead>
    <tbody>
      {% for transaksi in transaksis %}
        <tr>
          <td>{{transaksi.0}}</td>
          <td>{{transaksi.1}}</td>
          <td>{{transaksi.2}}</td>
          <td>{{transaksi.3}}</td>
          <td>{{transaksi.4}}</td>
          <td>{{transaksi.5}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>
</div>
</div>

</body>
</html>
