<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/buat_transaksi.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'javascript/navbar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/update_transaksi.css' %}">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body  style = "background-color :  rgb(206, 169, 221);";>
    {% include 'navbar.html' %}
    <div id="box">
        <br>
        <br>
        <h4 id="form-judul">Form Update Transaksi</h4>
        <br>
        <form class="needs-validation" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputPassword1">ID Transaksi</label>
                <input type="text" class="form-control form-control-sm" value="{{transaksis.0}}" name="id_trans" disabled>
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Tanggal</label>
                <input type="date" class="form-control form-control-sm" name="tanggal">
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Status</label>
                <input type="text" class="form-control form-control-sm" value="Belum dibayar" name="status">
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Total Biaya</label>
                <input type="text" class="form-control form-control-sm" value="{{transaksis.3}}" name="total_biaya" disabled>
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Waktu Pembayaran</label>
                <input type="datetime-local" class="form-control form-control-sm" name="waktu_pembayaran">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nomor Rekam Medis</label>
                <input type="text" class="form-control form-control-sm" value="{{transaksis.5}}" name="no_rekam_medsis" disabled>
            </div>
            
            <br>
            <button type="submit" class="button">Submit</button>
        </form>
        <br>
        <br>
    </div>
    
</body>
</html>