<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Buat RS Cabang</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
  <link rel="stylesheet" href="{% static 'stylebuatsesi.css' %}">
  

</head>
<body>
    {% include 'navbar_admin_naura.html' %}
<form class="needs-validation" method="POST" novalidate>
  {% csrf_token %}
  <div id="formspace" style="background-color:white;margin-bottom: 50px;">
    <h3 id="formtitle">Form Pembuatan RS Cabang</h3>
    
    <h4 id="questions">Kode RS Cabang</h4>
    <div class="form-group" name= "kode_rs" id="kode_rs">
            <textarea class="form-control form-control-sm" name="kode_rs" id="text" rows="1"></textarea>
    </div>
   
    <h4 id="questions">Nama</h4>
    <div class="form-group" name= "nama" id="search_categories">
            <textarea class="form-control form-control-sm" name="nama" rows="1"></textarea>
    </div>

    <h4 id="questions">Tanggal Pendirian</h4>  
    <input type="date" id="tanggal" name="tanggal">

    <h4 id="questions">Jalan</h4>
    <div class="form-group" id="search_categories">
            <textarea class="form-control form-control-sm" name="jalan" rows="1"></textarea>
    </div>

    <h4 id="questions">Nomor</h4>
    <div class="form-group" id="search_categories">
            <textarea class="form-control form-control-sm" name="nomor" rows="1"></textarea>
    </div>

    <h4 id="questions">Kota</h4>
    <div class="form-group" id="search_categories">
            <textarea class="form-control form-control-sm" name="kota" rows="1"></textarea>
    </div>

   <div class="wrapper">
   <input type="Submit" class="button" value="Submit">
   </div>
   
  </div>
</form>


</body>
</html>