<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Reservasi Sesi Konsultasi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
  <link rel="stylesheet" href="{% static 'stylebuatsesi.css' %}">
</head>
<body>

{% include 'navbar_admin_naura.html' %}

<form class="needs-validation" method="POST" novalidate>
  {% csrf_token %}
  <div id="formspace" style="background-color:white; margin-bottom:40px;">
    <h3 id="formtitle">Form Reservasi Sesi Konsultasi</h3>
    <h4 id="questions">Nomor Rekam Medis Pasien</h4>
    
    <div class="search_categories" name="no_rekam_medis" required>
      <div class="select">
        <select name="no_rekam_medis"  id="no_rekam_medis">
            {% for no_rekam_medis in no_rekam_medis_all %}
              <option> {{no_rekam_medis.0}} </option>
            {% endfor %}
          </select>
      </div>
    </div>
   
   <h4 id="questions">Tanggal</h4>
    <input type="date" name="tanggal" id="tanggal">

    <h4 id="questions">ID Transaksi</h4>

     <div class="search_categories" name="id_transaksi" required>
      <div class="select">
        <select name="id_transaksi"  " id="id_transaksi">
            {% for id_transaksi in id_transaksi_all %}
              <option>{{id_transaksi.0}}</option>
            {% endfor %}
          </select>
       </div>
    </div>

 
 <div class="wrapper">
 <input type="Submit" class="button" value="Submit">
 </div>
 
</div>
</form>


</body>
</html>