<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Daftar RS Cabang</title>
		<meta name="description" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'stylebuatsesi.css' %}">
</head>

<body>
{% include 'navbar_nonadmin.html' %}
<h3 id="formtitle">Daftar RS Cabang</h3>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div id="listspace" style="background-color:white">
			<div class="table-responsive">   
			<table class="table table-borderless">
			  <thead>
				<tr>
				  <th scope="col" id="field">Kode RS</th>
				  <th scope="col" id="field">Nama</th>
				  <th scope="col" id="field">Tanggal Pendirian</th>
				  <th scope="col" id="field">Jalan</th>
				  <th scope="col" id="field">Kota</th>
				  <th scope="col" id="field">Nomor</th>
				</tr>
			  </thead>
			  <tbody>
			  	{% for daftar_rs_cabang, rs_cabang in mylist %}
				<tr>
				  <th scope="row">{{rs_cabang.0}}</th>
				  <td>{{rs_cabang.1}}</td>
				  <td>{{rs_cabang.2}}</td>
				  <td>{{rs_cabang.3}}</td>
				  <td>{{rs_cabang.4}}</td>
				  <td>{{rs_cabang.5}}</td>
				</tr>
				{% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
		
	<div class="col-sm-2"></div>
</div>