<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Daftar Sesi Konsultasi</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'stylebuatsesi.css' %}">
  
</head>

<body>
    {% include 'navbar_admin_naura.html' %}
<h3 id="formtitle">Daftar Sesi Konsultasi</h3>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div id="listspace" style="background-color:white">
			<div class="table-responsive">   
			<table class="table table-borderless">
			  <thead>
				<tr>
				  <th scope="col" id="field">ID Konsultasi</th>
				  <th scope="col" id="field">Nomor Pasien</th>
				  <th scope="col" id="field">Tanggal</th>
				  <th scope="col" id="field">Biaya</th>
				  <th scope="col" id="field">Status</th>
				  <th scope="col" id="field">ID Transaksi</th>
				</tr>
			  </thead>
			  <tbody>
			  	{% for daftar_sesi_konsultasi, sesi_konsultasi in mylist %}
				<tr>
				  <th scope="row">{{sesi_konsultasi.0}}</th>
				  <td>{{sesi_konsultasi.1}}</td>
				  <td>{{sesi_konsultasi.2}}</td>
				  <td>{{sesi_konsultasi.3}}</td>
				  <td>{{sesi_konsultasi.4}}</td>
				  <td>{{sesi_konsultasi.5}}</td>
				  <td>
					<button type="submit" class="button_update" scope="col"><a style = "text-decoration:none; color: #3750B2;" href="{% url 'redFeature:update_sesikonsultasi' %}{{sesi_konsultasi.0}}/{{sesi_konsultasi.1}}">Update</a></button>
					<button type="submit" class="button_delete" scope="col"><a style = "text-decoration:none; color: white;" href="{% url 'redFeature:delete_sesikonsultasi' %}{{sesi_konsultasi.0}}/{{sesi_konsultasi.1}}">Delete</a></button>
				  </td>
				</tr>
				{% endfor %}
				
			  </tbody>
			</table>
		</div>
	</div>
		
	<div class="col-sm-2"></div>
</div>