<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Update Sesi Konsultasi</title>
    <meta name="description" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
  <link rel="stylesheet" href="{% static 'stylebuatsesi.css' %}">
</head>
<body>
{% include "navbar_admin_naura.html" %}

<div id="formspace" style="background-color:white; margin-bottom: 50px;">
  <h3 id="formtitle">Form Update Sesi Konsultasi</h3>
<form class="needs-validation" method="POST" novalidate>
  {% csrf_token %}
  <h4 id="questions">ID Konsultasi</h4>
  <input type="text" class="form-control form-control-sm" value="{{sesi_konsultasi.0}}" disabled>
    
 <h4 id="questions">Nomor Rekam Medis Pasien</h4>
 <input type="text" class="form-control form-control-sm" value="{{sesi_konsultasi.1}}" disabled>

 <h4 id="questions">Tanggal</h4>
<input type="date" id="tanggal" value="{{sesi_konsultasi.2 |date:"Y-m-d"}}" name="tanggal">

 <h4 id="questions">Biaya</h4>
 <input type="text" class="form-control form-control-sm" value="{{sesi_konsultasi.3}}" disabled>

 <h4 id="questions">Status</h4>
   <div class="search_categories">
    <div class="select">
       <select name="status" class="status" id="status">
          <option value="{{sesi_konsultasi.4}}" selected="status">{{sesi_konsultasi.4}}</option>
          <option value="booked">booked</option>
          <option value="done">done</option>
        </select>
     </div>
 </div>

 <h4 id="questions">ID Transaksi</h4>
 <input type="text" class="form-control form-control-sm" value="{{sesi_konsultasi.5}}" disabled>
 
 <div class="wrapper">
 <input type="Submit" class="button" value="Update">
 </div>
 
</div>


</body>
</html>