<!DOCTYPE html>
{% load static %}
<html>
<head>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="{% static 'navbar.js' %}"></script>
  <link rel="stylesheet" href="{% static 'stylebuatsesi.css' %}">
</head>
<body>
{% include 'navbar_admin_naura.html' %}

<div id="formspace" style="background-color:white">
  <h3 id="formtitle">Form Update RS Cabang</h3>
  <h4 id="questions">Kode RS</h4>
  <input type="text" class="form-control form-control-sm" value="001" disabled>
  
  

 <h4 id="questions">Nama</h4>
  <div class="form-group" id="search_categories">
          <textarea class="form-control form-control-sm" rows="1" value="Rumah Sakit X"></textarea>
  </div>

 <h4 id="questions">Tanggal Pendirian</h4>
  <input type="date" id="birthday" name="birthday">

 <h4 id="questions">Jalan</h4>
 <div class="form-group" id="search_categories">
          <textarea class="form-control form-control-sm" rows="1"></textarea>
  </div>

 <h4 id="questions">Kota</h4>
 <div class="form-group" id="search_categories">
          <textarea class="form-control form-control-sm" rows="1" value="Jakarta Timur"></textarea>
  </div>

  <h4 id="questions">Nomor</h4>
 <div class="form-group" id="search_categories">
          <textarea class="form-control form-control-sm" rows="1" value="10"></textarea>
  </div>

 
 <div class="wrapper">
 <input type="button" class="button" value="Update">
 </div>
 
</div>


</body>
</html>